<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Servicios</title>
  <meta name="description" content="Servicio de envíos internacionales, personal shopper, mudanzas y rental car, todo en un solo lugar.">
  <meta name="keywords" content="envios internacionales, personal shopper, compras, mudanzas, rental car, agente">
  <meta name="author" content="MurielVitale" >
  <meta name="robots" content="index, follow" >
  <meta name="locality" content="madrid, spain, europa">
  <meta name="revisit-after" content="7 days">
  <meta name="category" content="servicios">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="../css/estilos.css">
</head>

<body>
  <header>
    <div class="navbar-fixed">
      <!--Barra de navegacion-->
      <nav class="barra">
        <div class="nav-wrapper container">
          <img src="../assets/image/logoFT.png" alt="AlekoExpress" id="logo">
          <a href="#" class="brand-logo yellow-text text-accent-4"><span
              class="yellow-text text-accent-4">Aleko</span><span class="indigo-text text-darken-2">Express</span></a>
          <ul class="right hide-on-med-and-down menuOpc">
            <li><a class="elMenu" href="../index.html"> INICIO</a></li>
            <!-- Dropdown Trigger -->
            <li>
              <a class="dropdown-trigger elMenu menuActivo" href="#" data-target="id_drop">
                SERVICIOS
                <i class="material-icons right icono">arrow_drop_down</i>
              </a>
            </li>
            <li><a class="elMenu" href="./presupuesto.html">PRESUPUESTO</a></li>
            <li><a class="elMenu" href="./galeria.html">GALERIA</a></li>
            <li><a class="elMenu" href="./contacto.html">CONTACTO</a></li>
          </ul>
        </div>
    </nav>
  </div>
    <!--Boton de Hamburguesa para med y small-->
    <div class="ingreso hide-on-large-only">
      <a href="#" class="sidenav-trigger" data-target="id-menu-side">
        <i class="material-icons">menu</i>
      </a>
    </div>
    <div id="infoAct" class="indigo hide-on-med-and-down">
      <h1 class="yellow-text text-accent-4">
        SOMOS TU PERSONAL SHOPPER, TU AGENTE DE ENVIOS Y MUDANZAS Y TU RENTAL CAR DE CONFIANZA
      </h1>
    </div>
    <!-- Side Nav configuramos las opciones-->
    <ul class="sidenav" id="id-menu-side">
      <li>
        <div class="user-view">
          <div class="background">
            <img src="../assets/image/fondoSideNav.jpg" alt="Menu de opciones">
          </div>
          <a href="../index.html">
            <img class="circle" src="../assets/image/logoFT.png" alt="Logo Aleko Express">
          </a>
          <a href="../index.html">
            <span class="name white-text">Aleko Express</span>
          </a>
          <a href="./contacto.html">
            <span class="email white-text">info@alekoexpress.com</span>
          </a>
        </div>
      </li>
      <li>
        <a href="../index.html">INICIO</a>
      </li>
      <li>
        <div class="divider"></div>
      </li>
      <li>
        <a href="#">SERVICIOS</a>
      </li>
      <li>
        <div class="divider"></div>
      </li>
      <li>
        <a href="./presupuesto.html">PRESUPUESTOS</a>
      </li>
      <li>
        <div class="divider"></div>
      </li>
      <li>
        <a href="./galeria.html">GALERIA</a>
      </li>
      <li>
        <div class="divider"></div>
      </li>
      <li>
        <a href="./contacto.html">CONTACTO</a>
      </li>
    </ul>
    <!-- Estructura del Dropdown -->
    <ul class="dropdown-content" id="id_drop">
      <li><a href="#" class="elDrop yellow-text text-accent-4 ">SERVICIOS</a></li>
      <li class="divider"></li>
      <li><a href="#" id="dropPS" class="elDrop">PERSONAL SHOPPER</a></li>
      <li><a href="#" id="dropEI" class="elDrop">ENVIOS</a></li>
      <li><a href="#" id="dropM" class="elDrop ">MUDANZAS</a></li>
      <li><a href="#" id="dropRC" class="elDrop">RENTAL CAR</a></li>
    </ul>
  </header>
  
  <main id="mainServ">
    <div class="row container section">
      <div class="col s12 m9 pull-m3 right">
        <div id="servicioPS" class="section scrollspy">
          <h2 class="h2Serv">Servicio de <span>PERSONAL SHOPPER</span></h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur id deserunt dolorum ab repellendus minus sit totam nisi asperiores magnam?</p>
        </div>
        <div id="servicioEI" class="section scrollspy">
          <h2 class="h2Serv">Servicio de <span>ENVIOS INTERNACIONALES</span></h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur id deserunt dolorum ab repellendus minus sit totam nisi asperiores magnam?</p>
          <div class="carousel">
            <a class="carousel-item" href="../assets/image/ei009.jpg"><img class="materialboxed" width="200" src="../assets/image/ei009.jpg" alt="envios internacionales 1"></a>
            <a class="carousel-item" href="../assets/image/ei011.JPG"><img class="materialboxed" width="200" src="../assets/image/ei011.JPG" alt="envios internacionales 2"></a>
            <a class="carousel-item" href="../assets/image/ei012.jpg"><img class="materialboxed" width="200" src="../assets/image/ei012.JPG" alt="envios internacionales 3"></a>
            <a class="carousel-item" href="../assets/image/ei013.JPG"><img class="materialboxed" width="200" src="../assets/image/ei013.JPG" alt="envios internacionales 4"></a>
          </div>
        </div>
        <div id="servicioM" class="section scrollspy">
          <h2 class="h2Serv">Servicio de <span>MUDANZAS</span></h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur id deserunt dolorum ab repellendus minus sit totam nisi asperiores magnam?</p>
          <div class="carousel">
            <a class="carousel-item" href="../assets/image/m011.jpg"><img class="materialboxed" width="200" src="../assets/image/m011.jpg" alt="mudanzas 1"></a>
            <a class="carousel-item" href="../assets/image/m010.jpg"><img class="materialboxed" width="200" src="../assets/image/m010.jpg" alt="mudanzas 2"></a>
            <a class="carousel-item" href="../assets/image/m009.jpg"><img class="materialboxed" width="200" src="../assets/image/m009.jpg" alt="mudanzas 3"></a>
            <a class="carousel-item" href="../assets/image/m004.JPG"><img class="materialboxed" width="200" src="../assets/image/m004.JPG" alt="mudanzas 4"></a>
            <a class="carousel-item" href="../assets/image/m005.JPG"><img class="materialboxed" width="200" src="../assets/image/m005.JPG" alt="mudanzas 5"></a>
            <a class="carousel-item" href="../assets/image/m006.jpg"><img class="materialboxed" width="200" src="../assets/image/m006.JPG" alt="mudanzas 6"></a>
            <a class="carousel-item" href="../assets/image/m007.jpg"><img class="materialboxed" width="200" src="../assets/image/m007.jpg" alt="mudanzas 7"></a>
            <a class="carousel-item" href="../assets/image/m008.jpg"><img class="materialboxed" width="200" src="../assets/image/m008.JPG" alt="mudanzas 8"></a>
          </div>
        </div>
        <div id="servicioRC" class="section scrollspy">
          <h2 class="h2Serv">Servicio de <span>RENTAL CAR</span></h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur id deserunt dolorum ab repellendus minus sit totam nisi asperiores magnam?</p>
          <div class="carousel">
            <a class="carousel-item" href="../assets/image/rc0021.jpg"><img class="materialboxed" width="200" src="../assets/image/rc0021.jpg" alt="rental car 1"></a>
            <a class="carousel-item" href="../assets/image/rc002.jpg"><img class="materialboxed" width="200" src="../assets/image/rc002.jpg" alt="rental car 2"></a>
            <a class="carousel-item" href="../assets/image/rc003.jpg"><img class="materialboxed" width="200" src="../assets/image/rc003.jpg" alt="rental car 3"></a>
          </div>
        </div>
      </div>
      <div class="col m3 push-m9 left pinned hide-on-small-only menuLateral">
        <ul class="section table-of-contents">
          <li><a href="#servicioPS" id="sectionPS">Personal Shopper</a></li>
          <li><a href="#servicioEI" id="sectionEI">Envios</a></li>
          <li><a href="#servicioM" id="sectionM">Mudanzas</a></li>
          <li><a href="#servicioRC" id="sectionRC">Rental Car</a></li>
        </ul>
      </div>
    </div>
  </main>

  <footer class="page-footer elPie">
    <div class="row container">
      <div class="col s12 l6">
        <h5 class="white-text"><span class="yellow-text text-accent-4">Aleko</span><span
            class="indigo-text text-darken-2">Express</span></h5>
        <p class="grey-text text-lighten-4">Todos los servicios en un solo lugar.</p>
        <p class="datosPie"><span class="yellow-text text-accent-4">DIRECCIÓN: </span>C. de Alonso Cano, 44, 46, 28003 Madrid</p>
        <p class="datosPie"><span class="yellow-text text-accent-4">CONTACTO: </span> +34 913 123 456  info@alekoespress.com</p>
        <p class="datosPie"><span class="yellow-text text-accent-4">HORARIO: </span> 10:00 a 15:00 / 17:00 a 20:00 (Lunes a Sábado)</p>
      </div>
      <div class="col s12 l4 offset-l2 redesS">
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/alekosexpress/"><img
                src="../assets//image/rsinstagram.png" alt="instagram"></a></li>
          <li><a class="grey-text text-lighten-3" href="https://twitter.com/TwitterDev/"><img
                src="../assets//image/rstwitter.png" alt="twitter"></a></li>
        </ul>
      </div>
    </div>
    <div class="footer-copyright z-depth-5">
      <div class="container yellow-text text-accent-4">
        © 2014 AlekoExpress Inc. Todos los derechos reservados.
        <a class="yellow-text text-accent-4 avleg" href="assets/documents/avisoLegal.pdf">Aviso Legal</a>
      </div>
    </div>
  </footer>

  <!--Materialize JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      M.AutoInit(); //cambio las variables que salen por este autonit para que se inicialicen los JS para los carruceles tambien
      elSideNav();
      initModal ();
      initScrollspy ();
      initCarousel ();
      initMaterialBoxes ();
      function elSideNav() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
      }
      function initScrollspy () {
        var elems = document.querySelectorAll('.scrollspy');
        var instances = M.ScrollSpy.init(elems, {
          function(id) {
            return 'a[href="#' + id + '"]';
          }
        });
      }
      function initCarousel () {
        var elems = document.querySelectorAll('.carousel');
        var instances = M.Carousel.init(elems,{
          numVisible:3,
          indicators: true,
          dist: -50
        });
      }
      function initMaterialBoxes () {
        var elems = document.querySelectorAll('.materialboxed');
        var instances = M.Materialbox.init(elems);
      }
      function initModal(){
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
      } 
    }); 
  </script>
  <script src="../js/javascript.js"></script>
</body>

</html>